html {
    width: 100%;
}

body {
    background-color: black;
    background-image: url("https://i.gifer.com/3iCL.gif");
    font-family: 'Abel', sans-serif;
    margin: 0 auto;
}

.judul {
    color: white;
    font-weight: normal;
    text-align: center;
    border-bottom: 1px solid grey;
    margin-bottom: 30px;
}

.judul h1 {
    font-weight: normal;
    letter-spacing: 30px;
    padding-top: 3%;
    opacity: 60%;
    animation: text 5s 1;
}

.judul span {
    color: #ff7675;
}


@keyframes text {
    0% {
      opacity: 0;
      letter-spacing: normal;
    }
    30% {
      letter-spacing: 60px;
      opacity: 0.1;
    }
    85% {
      opacity: 0.7;
      letter-spacing: 30px;
    }
  }

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

img {
    border-radius: 250px 0px 0px 250px;
    opacity: 80%;
}

.biodata {
    background-image: linear-gradient(#ece2dc, #e4e2dc, #ece2dc, #e4e2dc, #ece2dc);
    height: 400px;
    width: 380px;
    color:black;
    padding-left: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

h4 {
    line-height: 1px;
}

h3 {
    font-size: 25px;
    letter-spacing: 2px;
    font-family: 'Allison', cursive;
    line-height: 1px;
    padding-bottom: 15px;
}   

a {
    color: black;
    cursor: pointer;
}

textarea {
    width: 80%;
}



input[type=submit] {
    text-align: center;
    border-radius: 250%;
    width: 50px;
    height: 50px;
    font-weight: bold;
    color: white;
    font-family: 'Abel', sans-serif;
    background-color: #ff7675;
    position:absolute;
    transition: 0.8s;
}

input[type=submit]:hover {
    background-color: #fab1a0;
    color: #636e72;
    cursor: pointer;
}

input[type=submit]:active, input[type=submit]:focus {
    background-color:#d63031;
    color: white;
}

.footer p {
    color: white;
    bottom: 0%;
    text-align: center;
    font-family: 'Abel', sans-serif;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-size: 12px;
    opacity: 0.4;
    font-weight: bold;
}

.boxAtas > .smallbox {
    background: red;
}