.boxAtas {
    background-color: coral;
    width: 200px;
    height: 200px;
    position: relative;
}

.boxBawah {
    background-color: rosybrown;
    width: 200px;
    height: 200px;
    position: relative;
}

.boxAtas .smallBox {
    background-color: rosybrown;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.boxBawah .smallBox {
    background: coral;
    width: 100px;
    height: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}